*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4e4b4b;
}
h1{
    color: aliceblue;
}

header{
    background-color: #1E1C21;
    height: 82px;
    width: auto;
    padding-top: 20px;
    padding-left: 20px;    
}
.container-grid{
    width: 1200px;
    margin: 0 auto;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    width: 642px;
    display: flex;
    justify-content: space-between;
    }
.menu a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.banner-principal{
    background-color: #C31616;
    height: 607px;
    width: auto;
    padding-top: 80px;
}
#pilotos {
    position: absolute;
    width: 726.86px;
    height: 549px;
    left: 60px;
    top: 111px;
}
#liga {
    position: absolute;
    width: 494px;
    height: 128.37px;
    left: 900px;
    top: 261.61px;
}
.grad{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black 65%);
    background-attachment: fixed;
}
.banner-principal h2{
    color: #FFFFFF;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 29.3px; 
    position: absolute;
    width: 430px;
    height: 34.83px;
    left: 938px;
    top: 361.61px;
}
#bt-inscreva-se{
    background-color: #C31616!important;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px 10px;
    position: absolute;
    width: 257px;
    height: 63px;
    left: 1025px;
    top: 431.61px;
}
.container-marcas{
    background-color: #000000;
    height: 120px;
    width: auto;
    padding-top: 20px;
    padding-left: 20px;
    
}
#lista-marcas{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    margin: 0 auto;
}
.container-produtos{
    position: absolute;
    width: auto;
    height: 859px;
    left: 0px;
    top: 806px;
    background: #1E1C21;
}
.container-produtos h1{
    
}
#card1{
    list-style: none;
    width: 215px;
    height: 333px;
    top: 903px;
    left: 140px;

    position: absolute;
    left: 100%;
    right: 0%;
    top: 20%;
    bottom: 20%;

    background: linear-gradient(to top, #000000 0%, rgba(196, 196, 196, 0) 100%);
    box-shadow: 1px 1px 20px 4px #000000;
}