@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid{
    width: 1200px;
    margin: 0 auto;
}
.cabecalho{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
header{
    background-color: #1E1C21;
    height: 82px;
    padding-top: 25px;
}
.menu{
    width: 700px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.menu a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: Roboto;
}
.grad{
    height: 600px;
    background-image: linear-gradient(to right, #C31616, black 65%);
    background-position: 0px;
}
.banner{
    background-image: url(../imagens/img-banner-principal.svg);
    background-repeat: no-repeat;
    background-position: inherit;
}

.conteudo-banner h1{
    color: #FFFFFF;
    font-family:"Titillium Web";
    font-size: 80px;
}
.conteudo-banner p{
    color: #FFFFFF;
    font-family: "roboto";
    font-size: 25px;
}
.conteudo-banner a{
    padding: 15px;
    background-color: #C31616;
    border-radius: 10px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "roboto";
    font-size: 25px;
    font-weight: 700;
}
.conteudo-banner{
    width: 497;
    height: 237;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.posicionamento-banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.container-marcas{
    background-color: #000000;
    height: 120px;
    padding-top: 25px;
    
}
#lista-marcas{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}
#text-oferta{
    text-indent: 175px;
    color: #FFFFFF;
    font-family:"Roboto";
    font-size: 27px;
    font-weight: 900;
    padding-top: 25px;    
}
.area-produtos{
    height: 850px;
    background-color: #1E1C21;
}
.posicionamento-cards{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    width: 1300px;
    margin: 0 auto;
}
.card{
    width: 215px;
    background-image: linear-gradient(to top, black, rgba(83, 83, 83, 0.577381) 85%);
}
.card-title{
    font-family:"Roboto";
    font-size: 18px;
    color: #FFFFFF;
}
.card-text{
    font-family: "Roboto";
    font-size: 16px;
    color: #FFFFFF;
}
.btn{
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}
.card-preco{
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
}
.news{
    height: 490px;
    background-position: center;
    margin: -1px 0px 0px -1px;
    background-color: #0c2460;
    background-image: url(../imagens/Rectangle\ 5.jpg);
    background-repeat: no-repeat;  
    display: flex;
    align-content: center;
    justify-content: space-between; 
}


.news h1{
    color: #FFFFFF;
    font-family: "roboto";
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    padding-left: 140px;
    padding-top: 80px;
}
.news p{
    color: #FFFFFF;
    font-family: "roboto";
    font-size: 18px;
    font-weight: 400; 
    width: 40em;
    word-wrap: break-word;
    text-align: justify;
    text-indent: 20px;
    padding-left: 140px;
}
.rodape{
    height: 250px;
    background-color: #010101;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-paginas h1{
    color: #FFFFFF;
    font-size: 'titillium web';
    font-size: 24px;
    font-weight: 700;
}
.text-paginas a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 'titillium web';
    font-size: 14px;
    font-weight: 600;
}
#text-newsletter{
    font-family: 'titillium web';
    font-size: 16px;
    font-weight: 600;
}
.redes{
    list-style: none;
    font-family: 'titillium web';
    font-size: 23px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .container-grid{
        width: 1000px;
    }
}