<div class="container-fluid container-marcas">
    <ul id="lista-marcas">
        <li><img class="img-fluid space" src="../../../assets/formula-1.svg" alt="logo formula-1"></li>
        <li><img class="img-fluid space" src="../../../assets/lol.svg" alt="logo lol"></li>
        <li><img class="img-fluid space" src="../../../assets/Counter-Strike.svg" alt="logo CS"></li>
        <li><img class="img-fluid space" src="../../../assets/valorant.svg" alt="logo valorant"></li>
        <li><img class="img-fluid space" src="../../../assets/fifa.svg" alt="logo fifa"></li>
    </ul>
</div>