@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web:wght@700&display=swap');

.bg-color{
    background-color: rgb(30, 28, 33);
}

.logo-nav{
    padding: 10px 50px;
}
.text-nav{
    padding: 0px 20px;
}
.text-nav a{
    color: aliceblue;
}
.navbar-toggler {
    border: var(--bs-border-width) solid transparent;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


  