<!-- Footer -->
<footer class="text-center text-white" style="background-color: rgba(1, 1, 1, 0.937);">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links Úteis</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#" class="text-white">REGRAS DE ULILIZAÇÃO</a>
            </li>
            <li>
              <a href="#" class="text-white">SUPORTE</a>
            </li>
            <li>
              <a href="#" class="text-white">CENTRAL DE AJUDA</a>
            </li>
            <li>
              <a href="#" class="text-white">CONTATO</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Páginas</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#" class="text-white">INÍCIO</a>
              </li>
              <li>
                <a href="#" class="text-white">HORÁRIOS</a>
              </li>
              <li>
                <a href="#" class="text-white">CAMPEONATO</a>
              </li>
              <li>
                <a href="#" class="text-white">RESULTADOS</a>
              </li>
              <li>
                <a href="#" class="text-white">NOTÍCIAS</a>
              </li>
            </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 center">
            <a href="index.html"><img src="../../../assets/logo.svg" alt="Logo do site E-Players"> </a>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-newsletter">Faça parte do nosso clan, assine nossa newsletter!</h5>
          <div class="row d-flex justify-content-center">
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" placeholder="E-mail" />
              <label class="form-label" for="form5Example21"></label>
            </div>
          </div>
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <div class="row d-flex justify-content-center">
              <ul class="redes">
                <li><p>Siga-nos em:</p></li>
                <li><img src="../../../assets/instagram 1.png" alt="Logo do instagram"></li>
                <li><img src="../../../assets/facebook 1.png" alt="Logo do facebook"></li>
                <li><img src="../../../assets/youtube.png" alt="Logo do youtube"></li>
            </ul>
          </div>
          </div>
          <!--Grid column-->
          </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Grid container -->
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="#">italoramonrodrigues@gmail.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->